@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 90vw;
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
}
/*-------------header/nav/anfang---------------*/
header{
   height: 10vh;
}
ul{
    display: flex;
    list-style: none;
}
li{
    padding-left: 100px;
}
li:nth-of-type(2){
    margin-left: auto;
    padding-right: 100px;
}
li:nth-of-type(3){
    padding-right: 100px;
}
li:nth-last-of-type(4){
    padding-right: 100px;
}
a{
    text-decoration-line: none;
    color: #323A45 ;
}
/*-------------header/nav/ende---------------*/


/*-------------section/shop/anfang---------------*/
section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-template-rows: 100vh 80vh 80vh;
    grid-template-areas: 
    "div div div"
    "art1 art2 art3"
    "art4 art5 art6";
    text-align: center;
    gap: 2em;
}
img{
    width: 100%;
    height: 85%;   
}
div{
    grid-area: div;
}
.art1{
    grid-area: art1;
}
.art2{
    grid-area: art2;
}
.art3{
    grid-area: art3;
}
.art4{
    grid-area: art4;
}
.art5{
    grid-area: art5;
}
.art6{
    grid-area: art6;
}
/*-------------section/shop/ende---------------*/